{# This template allows the user to delete a manufacturer #}
{% extends "base.jinja" %}


{% block content %}
<p>Delete manufacturer</p>
<h2 class="heading">Delete Manufacturer From Inventory</h2>
<form class="delete-manufacturer-form" method="POST" action="/manufacturers/{{manufacturer.id}}/delete">
    <label for="manufacturer-name">Name:</label>
    <input type="text" name="manufacturer-name" alt="manufacturer-name-input-box" required value="{{manufacturer.name}}">

    <label for="manufacturer-description">Description:</label>
    <input type="text" name="manufacturer-description" alt="manufacturer-description-input-box" required value="{{manufacturer.description}}">

    <label for="manufacturer-email-address">Email Address:</label>
    <input type="text" name="manufacturer-email-address" alt="manufacturer-email-address-input-box">

    <label for="manufacturer-location">Location:</label>
    <input type="text" name="manufacturer-location" alt="manufacturer-location-input-box">


    <label for="superpower-product-manufacturer">Manufacturer:</label>
    <select name="manufacturer-id">
    {% for manufacturer in manufacturers %}
        <option value="{{manufacturer.id}}">{{manufacturer.name}}</option>
    {% endfor %}
    </select>
    {# <label for="superpower-product-superpower-product-id">Product ID:</label>
    <input type="text" name="superpower-product-id" alt="superpower-product-id-input-box" required> #}


    <input class="delete-manufacturer-button" type="submit" value="Delete Item" alt="delete-manufacturer-button">
</form>
{% endblock %}

