{# This template shows all of the superpower products and other details #}
{% extends "base.jinja" %}


{% block content %}
<main>
    <h2 class="heading">Here is a table of all of our superpower products!</h2>
    
    <table class="table-labels">
        <th>Name:</th>
        <th>Description:</th>
        <th>Email Address:</th>
        <th>Location:</th>

        {% for manufacturer in  manufacturers  %}

        <tr>
        <td><a href="/manufacturers/{{ manufacturer.id }}">{{ manufacturer.name }}</a></td>
        {# <td>{{ manufacturer.name }}</td> #}
        <td>{{ manufacturer.description }}</td>
        <td>{{ manufacturer.email_address }}</td>
        <td>{{ manufacturer.location }}</td>
        <td><a href="/manufacturers/{{ manufacturer.id }}">{{ manufacturer.id }}</a></td>
        </tr>
        {% endfor %}
    </table>
</main>
    
{% endblock %}



