{% extends "base.jinja" %}

{% block navbar %}
<nav>
    <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('superpower_products.superpower_products') }}">Superpower Product Inventory</a></li>
        {# <li><a href="{{ url_for('superpower_products.superpower_products') }}">Add  New Items</a></li> #}
        <li><a href="http://www.localhost:4999/superpower_products/new">Add New Item</a></li>
        <li><a href="">Edit Item</a></li>
        <li><a href="">Contact</a></li>
    </ul>
</nav>
<h1>Add New SuperPower Product</h1>
{% endblock %}