{# This template allows the user to delete superpower_products #}
{% extends "base.jinja" %}


{% block content %}
<h2 class="heading">Delete Superpower Product From Inventory</h2>
<form class="delete-superpower-product-form" method="POST" action="/superpower_products/{{superpower_product.id}}">
    <label for="superpower-product-name">Name:</label>
    <input type="text" name="superpower-product-name" alt="superpower-product-name-input-box" required value="{{superpower_product.name}}">

    <label for="superpower-product-description">Description:</label>
    <input type="text" name="superpower-product-description" alt="superpower-product-description-input-box" required value="{{superpower_product.description}}">

    <label for="superpower-product-stock-quantity">Stock Quantity:</label>
    <input type="text" name="superpower-product-stock-quantity" alt="superpower-product-stock-quantity-input-box">

    <label for="superpower-product-buying-price">Buying Price:</label>
    <input type="text" name="superpower-product-buying-price" alt="superpower-product-buying-price-input-box">

    <label for="superpower-product-selling-price">Selling Price:</label>
    <input type="text" name="superpower-product-selling-price" alt="superpower-product-selling-price-input-box">

    <label for="superpower-product-manufacturer">Manufacturer:</label>
    <select name="manufacturer-id">
    {% for manufacturer in manufacturers %}
        <option value="{{manufacturer.id}}">{{manufacturer.name}}</option>
    {% endfor %}
    </select>
    {# <label for="superpower-product-superpower-product-id">Product ID:</label>
    <input type="text" name="superpower-product-id" alt="superpower-product-id-input-box" required> #}


    <input class="delete-superpower-product-button" type="submit" value="Delete Item" alt="delete-superpower-product-button">
</form>
{% endblock %}

