{# This template shows all of the superpower products and other details #}
{% extends "base.jinja" %}

{% block content %}
<main>
    <h1 class="heading">Please see all of the superpower products available below:</h1>
    
    <table class="table-labels">
        <th>Name:</th>
        <th>Description:</th>
        <th>Stock Quanity:</th>
        <th>Buying Price:</th>
        <th>Selling Price:</th>
        <th>Manufacturer:</th>
        <th>Product ID:</th>
        <th>Stock Status:</th>
        {% for superpower_product in superpower_products  %}

        <tr>
        <td><a href="/superpower_products/{{ superpower_product.id }}">{{ superpower_product.name }}</a></td>

        <td>{{ superpower_product.description }}</td>
        <td>{{ superpower_product.stock_quantity }}</td>
        

        <td>{{ superpower_product.buying_price }}</td>
        <td>{{ superpower_product.selling_price }}</td>
        <td>{{ superpower_product.manufacturer.name }}</td>
        <td><a href="/superpower_products/{{ superpower_product.id }}">{{ superpower_product.id }}</a></td>

        <td>
       {% if superpower_product.stock_quantity <= 0 %}
            <p class="out-of-stock">Out of Stock</p>
        {% elif superpower_product.stock_quantity <= 5 %}
            <p class="low-stock">Low Stock</p>  
        {% else %}
            <p class="stock-available">Stock Available</p>
        {% endif %}
        </td>

{# 

        {% if superpower_product.stock_quantity <= 5 %}
            <p class="low-stock">Low Stock</p>
        {% elif superpower_product.stock_quantity == 0 %}
            <p class="out-of-stock">Out of Stock</p>
        {% else %}
            <p class="stock-available">Stock Available</p>
        {% endif %} #}


          {# self.name = name
        self.description = description
        self.stock_quantity = stock_quantity
        self.buying_price = buying_price
        self.selling_price = selling_price
        self.manufacturer = manufacturer
        self.id = id #}



        {# <button type="hidden" href="">Delete This Superpower Product</button> what I tried to do here didn't work the way I wanted so I'll try again later #}
        </tr>
        {% endfor %}
    </table>
    
</main>
    
{% endblock %}


