{#This shows one specific superpower product by its id #}
{% extends "base.jinja" %}


{% block content %}

  <div>
      <table class="table-labels">
        <th>Name:</th>
        <th>Description:</th>
        <th>Stock Quanity:</th>
        <th>Buying Price:</th>
        <th>Selling Price:</th>
        <th>Manufacturer:</th>
        <th>Product ID:</th>
        <th>Edit:</th>
        <th>Delete:</th>
        <tr>
        <td>{{ superpower_product.name }}</a></td>
        <td>{{ superpower_product.description }}</td>
        <td>{{ superpower_product.stock_quantity }}</td>
        <td>{{ superpower_product.buying_price }}</td>
        <td>{{ superpower_product.selling_price }}</td>
        <td>{{ superpower_product.manufacturer.name }}</td>
        <td>{{ superpower_product.manufacturer.id }}</td>
        {# <td><a href="www.localhost:4999/superpower_products/<id>/edit">{{ superpower_product.id }}</a></td> #}
        <td><a href="http://localhost:4999/superpower_products/{{superpower_product.id}}/edit">Edit</a></td>
        <td><a href="http://localhost:4999/superpower_products/{{superpower_product.id}}/delete">Delete</a></td>


{% endblock %}




