{% extends "base.jinja" %}


{% block content %}
    <h1>Welcome to the Superpower Product Inventory!</h1>
    <p>This is where we put the "super" in superpower...</p>
    <p>Btw this is just the homepage</p>
{% endblock %}

