{% extends "base.jinja" %}


{% block content %}
<div class="heading-align">
    <h2 class="small-logo">Welcome to Inferno<span>Powers</span></h2>
    <h1>We put the "super" in superpower.</h1>
    <h3>You're visiting the best superpower stock warehouse in the galaxy, our products are out of this world...</h3>
</div>
{% endblock %}

